.json-viewer-container {
  position: relative;
  padding: 20px;
}

.cluster-version {
  display: flex;
  align-items: center;
}

.cluster-version-text {
  font-weight: bold;
}

.copy-button {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.copy-button:hover {
  background-color: #0056b3;
}

.scroll-button-container {
  text-align: center;
  margin: 20px 0;
}

.scroll-button {
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.scroll-button:hover {
  background-color: #218838;
}

.tables-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px; /* Add some space to avoid overlap with the cluster version text */
}

.tables-container {
  flex: 1;
  padding: 10px;
  box-sizing: border-box;
}

.left, .right {
  width: 50%;
  
}

.applied-patches-table, .json-viewer, .commands-table, .flags-table {
  margin-bottom: 20px;
  overflow-x: scroll;
}

.json-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.json-table th, .json-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.json-table th {
  background-color: #f2f2f2;
}

.search-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 5px;
}

@media (max-width: 600px) {
  .tables-wrapper {
    flex-direction: column;
  }

  .left, .right {
    width: 100%;
  }

  .json-table {
    font-size: 12px;
  }

  .json-table th, .json-table td {
    padding: 4px;
  }
}
